SQLALCHEMY_DATABASE_URI=...

JWT_ACCESS_TOKEN_EXPIRES_DAYS=...
JWT_SECRET_KEY=...

COMMISSIONER_MAIL=...
COMMISSIONER_PASSWORD=...
COMMISSIONER_NAME=...

FRONTEND_URL=...

HOST=...
PORT=...

GROQ_API_KEY=...
GROQ_MODEL=...

GROQ_BACKUP_API_KEY=...
GROQ_BACKUP_MODEL=...

FALLBACK_API_KEY=...
FALLBACK_MODEL=...
FALLBACK_BASE_URL=...

GOOGLE_CLIENT_ID=...