SECRET_KEY=...

SQLALCHEMY_DATABASE_URI=...

JWT_ACCESS_TOKEN_EXPIRES_DAYS=...
JWT_SECRET_KEY=...

COMMISSIONER_MAIL=...
COMMISSIONER_PASSWORD=...
COMMISSIONER_NAME=...

FRONTEND_URL=...

HOST=...
PORT=...

GROQ_API_KEY=...
GROQ_MODEL=qwen/qwen3.6-27b